footer {
  width: auto;
  background-color: #14213d;
  color: #e5e5e5;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  letter-spacing: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
